{$DOMAIN:nico-vault.duckdns.org} {
    reverse_proxy syncobsidian:8000
    
    # Headers de sécurité
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
    
    # Logs
    log {
        output stdout
        format console
    }
}
